* {
    padding: 0;
}

body {
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

h1 {
    color: rgba(50, 163, 50);
}

h1, #containerBegin, #containerEnd {
    text-align: center;
}

#container-main {
    background-color: rgba(50, 163, 50, 0.548);
    text-align: center;
    height: 150px;
    width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.226);
}

#btnSend {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

#btnSend:hover {
    background-color: rgba(50, 163, 50, 0.548);
    color: white;
    transition: background .4s;
}

footer {
    position: absolute;
    background-color: rgba(50, 163, 50, 0.548);
    text-align: center;
    font-style: italic;
    font-weight: none;
    width: 100%;
    bottom: 0;
    height: 10px;
}